* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* SFONDI */

.bg-black{
    background-color: #000;
}

.bg-darkgrey{
    background-color: #080b12;
}

.bg-grey{
    background-color: #282828;
}

/* STRUTTURA */

/* FORSE NON SERVE .vc_corpo {
    display:flex;
} */

aside {
    height:100vh;
    width:60px;
}

header {

}

main {

}

.player {
    height:100px;
    width:100%;
    position:fixed;
    bottom:0;
    right:0;
    z-index:1;
    display:flex;
}

/* MEDIA QUERIES */

@media screen and (min-width:768px) { /* SM */

}

@media screen and (min-width:992px) { /* MD */

}

@media screen and (min-width:1200px) { /* LG */

}
